<!Doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0">
		<link href="css/reset.css" rel="stylesheet" type="text/css">
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
		<title>Master Codebreaker</title>
	</head>
	<body>
		<div id="wrapper">
			<span id="expand">Instructions</span>
			<div id="instructions">
				<div id="close"><span id="contract">&times;</span> Close</div>
				<br>
				<p>Try to guess the computer player's secret code in 12 turns!</p><br>
				<p>A black key peg means that one of your guesses is correct both in color and placement. A white key peg means that one of your guesses is correct in color but not in placement. The position of the key pegs do not necessarily match the code pegs to which they refer.</p>
			</div>

			<div id="center_column">
				<h1>Master Codebreaker</h1>
				<hr>
				<br>
				<br>
				<div id="board">
					<div id="blockframe">
						<div id="row1" class="rows">
					    <div class="blocks">
								<div class="marbles slot1">
								</div>
							</div><!--
					--><div class="blocks">
								<div class="marbles slot2">	
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot3">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot4">
								</div>
							</div><!--
					 --><div class="blocks">
									<div class="pegbox">
										<div class="peg1">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg2">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg3">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg4">
										</div>
									</div>
							</div>
						</div>
						<div id="row2" class="rows">
							<div class="blocks">
								<div class="marbles slot1">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot2">	
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot3">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot4">
								</div>
							</div><!--
					 --><div class="blocks">
									<div class="pegbox">
										<div class="peg1">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg2">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg3">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg4">
										</div>
									</div>
							</div>
						</div>
						<div id="row3" class="rows">
							<div class="blocks">
								<div class="marbles slot1">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot2">	
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot3">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot4">
								</div>
							</div><!--
					 --><div class="blocks">
									<div class="pegbox">
										<div class="peg1">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg2">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg3">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg4">
										</div>
									</div>
							</div>
						</div>
						<div id="row4" class="rows">
							<div class="blocks">
								<div class="marbles slot1">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot2">	
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot3">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot4">
								</div>
							</div><!--
					 --><div class="blocks">
									<div class="pegbox">
										<div class="peg1">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg2">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg3">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg4">
										</div>
									</div>
							</div>
						</div>
						<div id="row5" class="rows">
							<div class="blocks">
								<div class="marbles slot1">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot2">	
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot3">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot4">
								</div>
							</div><!--
					 --><div class="blocks">
									<div class="pegbox">
										<div class="peg1">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg2">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg3">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg4">
										</div>
									</div>
							</div>
						</div>
						<div id="row6" class="rows">
							<div class="blocks">
								<div class="marbles slot1">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot2">	
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot3">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot4">
								</div>
							</div><!--
					 --><div class="blocks">
									<div class="pegbox">
										<div class="peg1">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg2">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg3">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg4">
										</div>
									</div>
							</div>
						</div>
						<div id="row7" class="rows">
							<div class="blocks">
								<div class="marbles slot1">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot2">	
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot3">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot4">
								</div>
							</div><!--
					 --><div class="blocks">
									<div class="pegbox">
										<div class="peg1">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg2">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg3">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg4">
										</div>
									</div>
							</div>
						</div>
						<div id="row8" class="rows">
							<div class="blocks">
								<div class="marbles slot1">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot2">	
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot3">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot4">
								</div>
							</div><!--
					 --><div class="blocks">
									<div class="pegbox">
										<div class="peg1">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg2">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg3">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg4">
										</div>
									</div>
							</div>
						</div>
						<div id="row9" class="rows">
							<div class="blocks">
								<div class="marbles slot1">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot2">	
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot3">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot4">
								</div>
							</div><!--
					 --><div class="blocks">
									<div class="pegbox">
										<div class="peg1">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg2">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg3">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg4">
										</div>
									</div>
							</div>
						</div>
						<div id="row10" class="rows">
							<div class="blocks">
								<div class="marbles slot1">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot2">	
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot3">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot4">
								</div>
							</div><!--
					 --><div class="blocks">
									<div class="pegbox">
										<div class="peg1">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg2">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg3">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg4">
										</div>
									</div>
							</div>
						</div>
						<div id="row11" class="rows">
							<div class="blocks">
								<div class="marbles slot1">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot2">	
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot3">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot4">
								</div>
							</div><!--
					 --><div class="blocks">
									<div class="pegbox">
										<div class="peg1">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg2">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg3">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg4">
										</div>
									</div>
							</div>
						</div>
						<div id="row12" class="rows">
							<div class="blocks">
								<div class="marbles slot1">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot2">	
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot3">
								</div>
							</div><!--
					 --><div class="blocks">
								<div class="marbles slot4">
								</div>
							</div><!--
					 --><div class="blocks">
									<div class="pegbox">
										<div class="peg1">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg2">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg3">
										</div>
									</div>
									<div class="pegbox">
										<div class="peg4">
										</div>
									</div>
							</div>
						</div>
					</div>
					<form id='guessForm' method='post' action='/submitRow'>
						<input id='input1' class='inputs' type='hidden' name='peg1_guess' value='black'>
						<input id='input2' class='inputs' type='hidden' name='peg2_guess' value='black'>
						<input id='input3' class='inputs' type='hidden' name='peg3_guess' value='black'>
						<input id='input4' class='inputs' type='hidden' name='peg4_guess' value='black'>
						<input id='submit' type='submit' value='Guess'>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>

