<!Doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0">
		<link href="css/reset.css" rel="stylesheet" type="text/css">
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
		<title>Master Codebreaker</title>
	</head>
	<body>
		<div id="wrapper">
			<span id="expand">Instructions</span>
			<div id="instructions">
				<div id="close"><span id="contract">&times;</span> Close</div>
				<br>
				<p>Try to guess the computer player's secret code in 12 turns!</p><br>
				<p>A black key peg means that one of your guesses is correct both in color and placement. A white key peg means that one of your guesses is correct in color but not in placement. The position of the key pegs do not necessarily match the code pegs to which they refer.</p>
			</div>

			<div id="center_column">
				<h1>Master Codebreaker</h1>
			</div>
		</div>
	</body>
</html>

