html, body {
	height: 100%;
}

#wrapper {
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
	background: url(../img/rotor_cipher_machine.jpg) no-repeat center center fixed;
	height: 100%;
	min-height: 100%;
	width: 100%;
	color: #ffffff;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	overflow: auto;
}

#instructions {
	position: fixed;
	font-size: 30px;
	line-height: 1.2;
	padding: 10px;
	background-color: #000000;
	opacity: 0.75;
	z-index: 1;
	top: 0px;
	right: -450px;
	height: 100%;
	min-height: 100%;
	width: 400px;
	transition: 0.5s;
	overflow: hidden;
}

#center_column {
	position: relative;
	background-color: #000000;
	width: 40%;
	height: 100%;
	min-height: 100%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

#board {
	position: relative;
	background-color: #647084;
	width: 80%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
}

#blockframe {
	position: relative;
	border: 1px solid black;
	top: 10%;
	height: 80%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#expand {
	position: fixed;
	font-size: 30px;
	padding: 15px;
	top: 0px;
	right: 0px;
	z-index: 0;
	background-color: #000000;
	opacity: 0.75;
}

#contract {
	padding: 5px;
	font-size: 40px;
}

#submit {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	border: 1px solid #111111;
	border-radius: 5px;
	font-size: 2em;
	-webkit-text-shadow: 0px -0.5px 0px rgb(0,0,0,0.5);
	-moz-text-shadow: 0px -0.5px 0px rgb(0,0,0,0.5);
	text-shadow: 0px -0.5px 0px rgb(0,0,0,0.5);
	-webkit-box-shadow: 0px 2px 0px #626468, 0px 1px 15px rgb(0,0,0,0.4);
	-moz-box-shadow: 0px 2px 0px #626468, 0px 1px 15px rgb(0,0,0,0.4);
	box-shadow: 0px 2px 0px #626468, 0px 1px 15px rgb(0,0,0,0.4);
	text-decoration: none;
}

.rows {
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	height: 8.3%;
	width: 100%;
}

.blocks {
	display: inline-block;
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 20%;
}

.marbles {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8%;
	height: 70%;
	width: 40%;
	border-radius: 50%;
}

.pegbox {
	display: inline-block;
	position: relative;
	height: 50%;
	width: 50%;
	float: right;
}

.peg1, .peg2, .peg3, .peg4 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	height: 30%;
	width: 20%;
	border: 1px solid black;
	border-radius: 50%;
}

h1 {
	font: 35px bold;
	text-align: center;
}

form {
	position: relative;
	top: 12%;
}

@media only screen and (max-device-width: 480px) {
	#instructions {
		position: fixed;
		font-size: 20px;
		line-height: 1.2;
		padding: 10px;
		background-color: #000000;
		opacity: 0.75;
		z-index: 1;
		top: 0px;
		right: -450px;
		height: 100%;
		min-height: 100%;
		width: 100%;
		transition: 0.5s;
		overflow: hidden;
	}

	#center_column {
		position: relative;
		background-color: #000000;
		width: 80%;
		height: 100%;
		min-height: 100%;
		padding: 10px;
		margin-left: auto;
		margin-right: auto;
		overflow: auto;
}